
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Nunito:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  body{
  background-color:rgb(0, 0, 0);
  
  }

.front{
    background-image: url(image/pexels-craig-adderley-1563355.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size:cover ;
    margin:-8px;
    margin-top:-22px;

}



.nav1{
    justify-content: center;
    display:flex;
    flex-shrink: 3;
    list-style-type:none;
    font-size: 22px;
    gap:20px;
    margin-top:22px;
   padding-top: 12px;
   
}
.nav1 a,.intro{
    color:aliceblue;
    
}
.nav1 a{
    text-decoration: none;
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    transition: all 0.3s ease-in 0s;
    
    
}
#name{
    font-family: 'Kanit', sans-serif;;

}

.nav1 a:hover{
    color: rgb(165, 171, 177);
    font-size: 21px;
}
/* sidebar main div */
.mediacontact{
 position: fixed;
 top: 100px;
 bottom: 100px;
}
#facebook,#instagram,#github{
    width:42px;
}
#mail{
    width:28px;
    margin-left: 4px;
}
#linkedin{
    width:42px;
}
#mail:hover,#facebook:hover,#instagram:hover,#github:hover,#linkedin:hover{
    filter: invert(100%);
}
  #facebook,#instagram,#github,#mail,#linkedin{ 
    transition:all 0.3s ease-in 0s;     
}  
.link{
    text-decoration: none;
    color: aliceblue;
}
/* for sidebar  */
.fac{
    position: absolute;
    visibility: hidden;
    bottom: 10px;
    border: 1px solid red; 
    border-radius: 10px;
    background-color:#fd4f2b;
    font-size: larger;
    padding: 5px;
    margin: 2px;
    text-align: left;
    text-transform: capitalize;
    
    
}
/* for sidebar */
.face:hover .fac{
    position: relative;
    visibility: visible;

}
.button a {
    cursor: pointer;
    background-color: rgb(32, 31, 31);
    text-decoration: none;
    color:white;
    font-size:19px ;
    font-weight: 500;
}
.intro{
    
    height:250px;
    display:flex;
    flex-wrap: wrap;
    align-items:end ;
    margin-left:  180px; 
    margin-bottom: 20px;
    margin-top:35px;
}
#name::first-line{
font-size:50px ;
padding-top: 0px;
}
#first{
font-size:26px;
color:rgb(188 180 229);
filter:brightness(100%);
 }
 #second{
    font-size:19px;
    color:rgb(9 6 22);
    }
.button{
    display: flex;
    flex-shrink: 2;
    width:800px;
    height:100px;
    margin-right: 180px;
    justify-content: center;
    
}

#button1,#button2{
    border:2px solid rgb(40, 130, 153);
    height:fit-content;
    padding:8px;
    margin-left: 60px;
    font-family:'Nunito', sans-serif ;
    transition:  all 0.2s ease-in 0s;
}
#button1:hover,#button2:hover{
    background-color: rgb(64, 99, 173);
    font-size: 18px;
}

#transition{
    display:flex;
    height:70px;
    padding-right: 110px;
    justify-content: end;
    align-items: end;
    color:rgb(252, 252, 252);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    animation: scroll 0.7s ease-out 0s infinite alternate;
}
@keyframes scroll{
    from{
    }
    to{
        transform:translateY(32px)
    }
}
